a#right-menu{
border-radius:0;
}

body *{
font-family: "微软雅黑";
}

.headroom--pinned{
-moz-transform: translate(0,0);
-webkit-transform: translate(0,0);
-o-transform: translate(0,0);
-ms-transform: translate(0,0);
transform: translate(0,0);
-moz-transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}

.headroom--unpinned {
-moz-transform: translate(0,-60px);
-webkit-transform: translate(0,-60px);
-o-transform: translate(0,-60px);
-ms-transform: translate(0,-60px);
transform: translate(0,-60px);
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}