@font-face {
font-family: 'norwester';
src: url('../fonts/norwester/webfonts/norwester.eot') format('embedded-opentype'),
url('../fonts/norwester/webfonts/norwester.woff') format('woff'),
url('../fonts/norwester/webfonts/norwester.ttf') format('truetype'),
url('../fonts/norwester/webfonts/norwester.svg') format('svg');
font-weight: normal;
font-style: normal;
}

body{
background: url(../img/back.jpg) no-repeat;
}

a#right-menu{
border-radius:0;
}

body *{
font-family: "微软雅黑";
}

.navbar-brand{
font-size: 28px;
}

.navbar-nav > li > a {
font-size: 18px;
padding: 18px 21px;
}

#header .container{
width: 100%;
margin-right: 0px;
margin-left: 0px;
padding-right: 0px;
}

@media (min-width: 768px){
.navbar > .container .navbar-collapse .navbar-nav.navbar-right:last-child {
margin-right: 0px;
}
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
color: white;
}

.navbar-inverse .navbar-nav .dropdown-menu {
padding: 10px;
margin: 0px;
border-radius: 0px;
background-color: #3498DB;
color: white;
}

.navbar-inverse .navbar-nav .dropdown-menu > .divider {
background-color: rgb(119, 172, 226);
height: 1px;
margin-left: -4px;
margin-right: -4px;
}

.menu-in{
opacity: 1;
visibility: initial;
}

.dropdown-menu li:first-child > a {
border-radius: 0px;
}

.dropdown-menu li:last-child > a {
border-radius: 0px;
}

.dropdown-menu {
font-size: 16px;
}

.headroom--pinned{
-webkit-animation: fadeIn 0.5s;
animation: fadeIn 0.5s;
display: block;
}

.headroom--unpinned {
-webkit-animation: fadeOut 0.5s;
animation: fadeOut 0.5s;
display: none;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}