.top-ten{
margin-top: 56px;
width: 100%;
border-bottom: #BBB 1px solid;
}

.top-ten .row{
background-color: #EEE;
}

/*.top-ten .row:hover{
-webkit-transform: translate3d(0,-2px,0);
-moz-transform: translate3d(0,-2px,0);
transform: translate3d(0,-2px,0);
transition: all 0.6s ease-out;
-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
}
*/
.forum-name{
font: 6.5rem/1 "norwester";
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
padding: 30px 0px;
color:white;
}

@media (min-width: 992px){
    .forum-name{
    padding: 45px 0px;
    }
}

.forum-name:hover{
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}

.diver{
margin: 0;
}

.top-ten-body{
padding: 12px 30px;
font-size: 16px;
}

.top-ten-body-light{
background-color: #f3f3f3;
}

.top-ten-heading{
margin-top: 5px;
cursor: pointer;
}

/*十大讨论区配色*/
.forum-name-dark-red{
background-color: #C0392B;
}

.forum-name-light-red{
background-color: #E74C3C;
}

.forum-name-dark-orange{
background-color: #E67E22;
}

.forum-name-light-orange{
background-color: #F39C12;
}

.forum-name-yellow{
background-color: #F1C40F;
}

.forum-name-light-green{
background-color: #2ECC71;
}

.forum-name-middle-green{
background-color: #1ABC9C;
}

.forum-name-dark-green{
background-color: #16A085;
}

.forum-name-light-blue{
background-color: #3498DB;
}

.forum-name-dark-blue{
background-color: #2980B9;
}

/*讨论区*/
.filter-menu{
background-color: #3498DB;
padding: 5px;
min-width: 100px;
}

.filter-menu li > a:hover, .filter-menu li > a:active, .filter-menu li > a:focus {
background: #2980B9;
}

div#boards {
background: transparent;
margin-top: 80px;
width: 100%;
margin-left: 25px;
}

div#boards *{
color:white;
}

.item{
width: 170px;
background: gray;
border-radius: 5px;
margin-bottom: 5px;
}

@media (min-width: 768px){
    
    .item {
    width: 200px;
    }

}

.item p{
padding-left: 5px;
padding-right: 5px; 
font-family: "norwester";
font-weight: bold;
font-size: 20px;
margin-bottom: 0px;
line-height: 1.5;
}

p.item-title{
padding-bottom: 30px; 
font-family: "微软雅黑";
}

.item-forum-name{
position: absolute;
width: 100%;
bottom: 0px;
padding: 0px 3px;
border-radius: 0px 0px 5px 5px;
background-color: rgba(0,0,0,0.1);
text-transform: uppercase;
}

.btn-toolbar{
padding-bottom: 10px;
}

