body{
background-color: #f3f3f3;    
}

.bbs-masthead {
position: relative;
padding: 30px 15px;
text-align: center;
text-shadow: 0 1px 0 rgba(0,0,0,.15);
background: url(../img/DAimG_2013031586096256B968.jpg) no-repeat;

}

.bbs-masthead .btn-outline-inverse {
margin: 10px;
}

.bbtn-outline-inverse {
color: #fff;
background-color: transparent;
border-color: #cdbfe3;
}

@media (min-width: 768px){

.bbs-masthead {
text-align: left;
padding-top: 140px;
padding-bottom: 181px;
background-size: 100% 100%;
}

.bbs-masthead .btn-outline-inverse {
width: auto;
margin: 20px 5px 20px 0;
padding: 18px 24px;
font-size: 21px;
}

}


@font-face {
font-family: 'norwester';
src: url('../fonts/norwester/webfonts/norwester.eot') format('embedded-opentype'),
url('../fonts/norwester/webfonts/norwester.woff') format('woff'),
url('../fonts/norwester/webfonts/norwester.ttf') format('truetype'),
url('../fonts/norwester/webfonts/norwester.svg') format('svg');
font-weight: normal;
font-style: normal;
}

.top-ten{
margin-top: 50px;
width: 100%;
border-bottom: #BBB 1px solid;
}

.top-ten .row{
background-color: #EEE;
}

/*.top-ten .row:hover{
-webkit-transform: translate3d(0,-2px,0);
-moz-transform: translate3d(0,-2px,0);
transform: translate3d(0,-2px,0);
transition: all 0.6s ease-out;
-webkit-transition: all 0.6s ease-out;
-moz-transition: all 0.6s ease-out;
-webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1),1px 1px 15px 2px rgba(0, 0, 0, 0.2);
}
*/
.forum-name{
font: 6.5rem/1 "norwester";
text-transform: uppercase;
-webkit-font-smoothing: antialiased;
padding: 45px 80px;
color:white;
}

.forum-name:hover{
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}

.diver{
margin: 0;
}

.top-ten-body{
padding: 12px 30px;
font-size: 16px;
}

.top-ten-body-light{
background-color: #f3f3f3;
}

.top-ten-heading{
margin-top: 5px;
cursor: pointer;
}

/*十大讨论区配色*/
.forum-name-dark-red{
background-color: #C0392B;
}

.forum-name-light-red{
background-color: #E74C3C;
}

.forum-name-dark-orange{
background-color: #E67E22;
}

.forum-name-light-orange{
background-color: #F39C12;
}

.forum-name-yellow{
background-color: #F1C40F;
}

.forum-name-light-green{
background-color: #2ECC71;
}

.forum-name-middle-green{
background-color: #1ABC9C;
}

.forum-name-dark-green{
background-color: #16A085;
}

.forum-name-light-blue{
background-color: #3498DB;
}

.forum-name-dark-blue{
background-color: #2980B9;
}

footer{
padding: 10px 0px 10px 0px;
}