.container {
    width: 100%;
    padding: 0 15px;
}


 ul, ol {
     padding: 0;
     margin: 0 0 10px 25px
 }
 ul ul, ul ol, ol ol, ol ul {
     margin-bottom: 0
 }
 ul {
     list-style: disc;
 }
 ol {
     list-style: decimal;
 }
 li {
     line-height: 20px
 }
 
 /* @group Sidebar */
 .sidebar {
     background-color: #424b7a;
     height: 769px;
 }
 .sidebar-inner {
     background-color: #424b7a;
 }
 .nav-collapse {
   top: 2em;
   left: 0;
 }
 
 .nav-collapse ul {
   display: block;
   list-style: none;
 }
 
 .nav-collapse li {
   display: block;
 }
 
 .nav-collapse a {
   background-color: #424b7a;
   color: white;
   font-weight: bold;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-transition: background .3s ease;
   -moz-transition: background .3s ease;
   transition: background .3s ease;
   text-shadow: 0 -1px rgba(0,0,0, .5);
   border-bottom: 1px solid rgba(0,0,0, .2);
   border-top: 1px solid rgba(255,255,255, .1);
   display: block;
   padding: .6em 2em;
   width: 100%;
 }
 
 .nav-collapse a:hover { background: rgba(255,255,255, .1) }
 .nav-collapse .active a { color: #fff; background: rgba(0,0,0, .3) }
 .nav-collapse li:first-child a { border-top: 0 }
 .nav-collapse li:last-child a { border-bottom: 0 }
 .nav-toggle { display: none }
 
 /* @end */
 
 
 /* @group Responsive Design for <md */
 
 @media screen and (max-width: 992px) {
 
 .sidebar {
     height: 0;
 }
.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  .nav-collapse {
    top: 0;
    width: 100%;
    position: relative;
  }
  .nav-collapse.opened { max-height: 9999px }
  .nav-collapse a:hover { background: transparent }
  .nav-collapse .active a:hover { color: #fff; background: rgba(0,0,0, .3) }
  .nav-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 70px;
    height: 55px;
    float: right;
    display: block;
    margin: 0 -2em 1em 0;
    text-indent: -9999px;
    overflow: hidden;
    background: #444 url("../img/hamburger.gif") no-repeat 50% 33%;
  }
  .main {
    -webkit-overflow-scrolling: auto;
    box-shadow: none;
    padding: 0 2em 2em;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main::-webkit-scrollbar { background-color: transparent }
}


 /* @end */
